################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DoneMyHair/App_Data
/DoneMyHair/.vs/DoneMyHair
/DoneMyHair/bin
/DoneMyHair/obj
/DoneMyHair/packages
