
@{
    ViewBag.Title = "WaitingAppointments";
}

<section id="hairdresser-main">
    <div class="title">
        <h1 class="h1">Employee Name</h1>
        <hr width="15%">
    </div>
    <div class="container-hairdresser">
        <aside class="aside">


            <div class="hairdresser-left-side">
                <h5 class="h4">Description :</h5>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, dolores aperiam amet
                        doloribus labore, consequatur veritatis ad temporibus ab earum harum omnis quidem impedit,
                        explicabo adipisci non laboriosam mollitia sapiente!
                    </p>
                </div>
            </div>

            <div class="hairdresser-left-side">
                <h5 class="h4">Phone Number :</h5>
                <div class="desc">
                    <p>(555) 555-55-55 </p>
                </div>
            </div>

        </aside>
        <div class="hairdresser-main">

            <div class="card-saloon">
                <div class="saloon-image">
                    <img src="~/Content/assets/images/pexels-cottonbro-3992850.jpg" alt="">
                </div>
                <div class="saloon-content">
                    <div class="saloon-header">
                        <h1 class="h1 m-1">Hairdresser 1</h1>
                        <hr width="150px" style="margin-left: 10px;">
                    </div>
                    <div class="saloon-body">


                        <p>Date</p>
                        <p>11/01/2022</p>
                        <p>Hours</p>
                        <p>15.00</p>
                    </div>
                    <div class="saloon-footer">

                        <a href="./hairdresser.html">Accept</a>

                    </div>
                </div>
            </div>
            <div class="card-saloon">
                <div class="saloon-image">
                    <img src="~/Content/assets/images/pexels-cottonbro-3992850.jpg" alt="">
                </div>
                <div class="saloon-content">
                    <div class="saloon-header">
                        <h1 class="h1 m-1">Hairdresser 2</h1>
                        <hr width="150px" style="margin-left: 10px;">
                    </div>
                    <div class="saloon-body">


                        <p>Date</p>
                        <p>12/01/2022</p>
                        <p>Hours</p>
                        <p>15.00</p>

                    </div>
                    <div class="saloon-footer">

                        <a href="./hairdresser.html">Accept</a>

                    </div>
                </div>
            </div>



        </div>
    </div>

</section>
