@{
    ViewBag.Title = "Home Page";
}
<section id="main">
    <div class="container-main">
        <div class="card-saloon">
            <div class="saloon-image">
                <img src="~/Content/assets/images/pexels-cottonbro-3992850.jpg" alt="">
            </div>
            <div class="saloon-content">
                <div class="saloon-header">
                    <h1 class="h1 m-1">Saloon Name</h1>
                    <hr width="150px" style="margin-left: 10px;">
                </div>
                <div class="saloon-body">

                    <p class="saloon-body-title">Saloon Description</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta distinctio nesciunt asperiores provident fugiat, aut doloremque magni vel ipsum ipsa beatae quisquam veritatis dolore corrupti commodi! Libero sunt molestias sed!</p>

                </div>
                <div class="saloon-footer">
                    <h4 class="h3"> Saloon Owner: <span>Owner Name</span></h4>
                    @Html.ActionLink("Appointment", "Saloon", "Saloon")
                </div>
            </div>
        </div>
        <div class="card-saloon">
            <div class="saloon-image">
                <img src="~/Content/assets/images/pexels-cottonbro-3993324.jpg" alt="">
            </div>
            <div class="saloon-content">
                <div class="saloon-header">
                    <h1 class="h1 m-1">Saloon Name</h1>
                    <hr width="150px" style="margin-left: 10px;">
                </div>
                <div class="saloon-body">

                    <p class="saloon-body-title">Salon Description</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta distinctio nesciunt asperiores provident fugiat, aut doloremque magni vel ipsum ipsa beatae quisquam veritatis dolore corrupti commodi! Libero sunt molestias sed!</p>

                </div>
                <div class="saloon-footer">
                    <h4 class="h3"> Saloon Owner: <span>Owner Name</span></h4>
                    @Html.ActionLink("Appointment", "Saloon", "Saloon")
                </div>
            </div>
        </div>
        <div class="card-saloon">
            <div class="saloon-image">
                <img src="~/Content/assets/images/pexels-david-geib-3268732.jpg" alt="">
            </div>
            <div class="saloon-content">
                <div class="saloon-header">
                    <h1 class="h1 m-1">Saloon Name</h1>
                    <hr width="150px" style="margin-left: 10px;">
                </div>
                <div class="saloon-body">

                    <p class="saloon-body-title">Salon Description</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta distinctio nesciunt asperiores provident fugiat, aut doloremque magni vel ipsum ipsa beatae quisquam veritatis dolore corrupti commodi! Libero sunt molestias sed!</p>

                </div>
                <div class="saloon-footer">
                    <h4 class="h3"> Saloon Owner: <span>Owner Name</span></h4>
                    @Html.ActionLink("Appointment", "Saloon", "Saloon")
                </div>
            </div>
        </div>
    </div>
</section>