@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email or Username" id="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">
    <div class="keep-login">
        <input type="checkbox">
        <label>Keep me logged in</label>
    </div>
    <a href="#"><p>Forgot Password?</p></a>

    <button>Log In</button>
    <p style="margin-top: 10px;">Don't you have an account ? <a href="#">Signup </a></p>
    <div class="divider">Or Login With</div>

    <div class="social">
        <div class="go"><i class="fab fa-google"></i>  Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>